Magic 271485
Revision 2012.04

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 4 9 1366 705 200 80

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 12317324.248112
cursor 7510000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 22

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd.fsdb"
addSignal -h 15 /Final_tb/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 /Final_tb/chip0/i_MIPS/ICACHE_stall
addSignal -h 15 -holdScope DCACHE_stall
addSignal -h 15 -holdScope ICACHE_ren
addSignal -h 15 -holdScope ICACHE_wen
addSignal -h 15 -UNSIGNED -HEX -holdScope ICACHE_wdata[31:0]
addGroup "G3"
addSignal -h 15 /Final_tb/chip0/i_MIPS/DCACHE_ren
addSignal -h 15 -holdScope DCACHE_wen
addSignal -h 15 -holdScope RegWrite_memwb_r
addSignal -h 15 /Final_tb/chip0/I_cache/proc_read
addSignal -h 15 -holdScope proc_write
addSignal -h 15 -holdScope mem_ready
addGroup "G5"
addSignal -h 15 /Final_tb/chip0/D_cache/mem_ready
addSignal -h 15 -UNSIGNED -HEX /Final_tb/chip0/I_cache/proc_addr[9:0]
addGroup "G4"
addGroup "G6"
addSignal -h 15 -UNSIGNED -UDEC /Final_tb/chip0/DCACHE_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX /Final_tb/chip0/i_MIPS/zregister/r_12[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_13[31:0]
addGroup "G7"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/Final_tb"
"/Final_tb/chip0"
"/Final_tb/chip0/I_cache"
"/Final_tb/chip0/i_MIPS"
"/Final_tb/testbed"

SCOPE_LIST_BEGIN
"/Final_tb/chip0/i_MIPS/Br"
"/Final_tb/chip0/i_MIPS/"
"/ACCSHCINX2"
"/EX_MEM_reg"
"/Final_tb"
"/Final_tb/chip0/i_MIPS/zforwardjump"
"/Final_tb/chip0/i_MIPS/zforwarding"
"/Final_tb/chip0/i_MIPS"
"/Final_tb/chip0/i_MIPS/zaluCtrl"
"/Final_tb/chip0/i_MIPS/zctrl"
"/Final_tb/chip0"
"/Final_tb/chip0/i_MIPS/zalu"
"/Final_tb/chip0/D_cache"
"/Final_tb/testbed"
"/Final_tb/chip0/i_MIPS/zifidreg"
"/Final_tb/chip0/i_MIPS/zregister"
"/Final_tb/chip0/i_MIPS/zidexreg"
"/Final_tb/chip0/i_MIPS/zbranchprd"
"/Final_tb/chip0/i_MIPS/zdiv"
"/Final_tb/chip0/i_MIPS/zmul"
"/Final_tb/chip0/I_cache"
"/Final_tb/chip0/I_cache/\block_r_reg[0][2]"
"/Final_tb/chip0/I_cache/\block_r_reg[0][3]"
"/Final_tb/chip0/i_MIPS/\Funct_idex_r_reg[2]"
"/Final_tb/chip0/i_MIPS/\Funct_idex_r_reg[1]"
"/Final_tb/chip0/i_MIPS/\HI_r_reg[0]"
"/Final_tb/chip0/U2"
"/Final_tb/chip0/U3"
"/Final_tb/chip0/I_cache/\block_r_reg[0][0]"
"/Final_tb/chip0/I_cache/\block_r_reg[0][1]"
"/Final_tb/chip0/i_MIPS/take_r_reg"
"/Final_tb/chip0/i_MIPS/zbranchprd/\state_r_reg[0]"
"/Final_tb/chip0/i_MIPS/zbranchprd/take_r_reg"
"/Final_tb/chip0/i_MIPS/zbranchprd/U3"
"/Final_tb/chip0/i_MIPS/zbranchprd/\state_r_reg[1]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[0]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[1]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[2]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[3]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[5]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[4]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[6]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[7]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[9]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[8]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[10]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[11]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[12]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[13]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[15]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[14]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[16]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[17]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[18]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[20]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[19]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[21]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[22]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[23]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[25]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[24]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[27]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[26]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[28]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[29]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[30]"
"/Final_tb/chip0/i_MIPS/\ALUresult_r_reg[31]"
"/Final_tb/chip0/i_MIPS/MemtoReg_memwb_r_reg"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[0]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[1]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[2]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[3]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[4]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[5]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[6]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[7]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[8]"
"/Final_tb/chip0/i_MIPS/\ALUresult2_r_reg[9]"
"/Final_tb/chip0/I_cache/\state_r_reg[0]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[1]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[2]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[3]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[4]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[5]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[6]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[7]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][0]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][1]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][2]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][3]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][4]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][5]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][6]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][7]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][8]"
"/Final_tb/chip0/I_cache/\tag_r_reg[0][9]"
"/Final_tb/chip0/I_cache/\dirty_r_reg[0]"
"/Final_tb/chip0/I_cache/\state_r_reg[1]"
"/Final_tb/chip0/I_cache/\valid_r_reg[0]"
"/Final_tb/chip0/I_cache/\valid_r_reg[1]"
"/Final_tb/chip0/I_cache/\valid_r_reg[3]"
"/Final_tb/chip0/I_cache/\valid_r_reg[2]"
"/Final_tb/chip0/I_cache/\valid_r_reg[4]"
"/Final_tb/chip0/I_cache/\valid_r_reg[5]"
"/Final_tb/chip0/I_cache/\valid_r_reg[6]"
"/Final_tb/chip0/I_cache/\valid_r_reg[7]"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


