Magic 271485
Revision 2012.04

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -4 1 1366 705 200 343

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 189771.058687 202183.065727
cursor 197193.00908190056
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 21

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
activeDirFile "" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd.fsdb"
userBusMem /Final_tb/chip0/i_MIPS/WBdata[31]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[30]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[29]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[28]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[27]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[26]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[25]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[24]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[23]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[22]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[21]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[20]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[19]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[18]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[17]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[16]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[15]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[14]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[13]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[12]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[11]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[10]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[9]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[8]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[7]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[6]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[5]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[4]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[3]
userBusMem /Final_tb/chip0/i_MIPS/WBdata[2]
saveRunSig "WB<<2[29:0]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd.fsdb"
addSignal -h 15 /Final_tb/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 /Final_tb/chip0/i_MIPS/ICACHE_stall
addSignal -h 15 -holdScope DCACHE_stall
addSignal -h 15 -UNSIGNED -HEX -holdScope ICACHE_addr[29:0]
addSignal -h 15 -holdScope ICACHE_ren
addSignal -h 15 -holdScope ICACHE_wen
addSignal -h 15 -UNSIGNED -HEX -holdScope ICACHE_wdata[31:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope ICACHE_rdata[31:0]
addGroup "G3"
addSignal -h 15 -UNSIGNED -BIN /Final_tb/chip0/i_MIPS/DCACHE_addr[29:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DCACHE_rdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DCACHE_wdata[31:0]
addSignal -h 15 -holdScope DCACHE_ren
addSignal -h 15 -holdScope DCACHE_wen
addSignal -h 15 -holdScope RegWrite_memwb_r
addSignal -h 15 -UNSIGNED -UDEC -holdScope RegRd_memwb_r[400]
addSignal -h 15 -UNSIGNED -UDEC -holdScope WBdata[31:0]
addSignal -h 15 -UNSIGNED -HEX /WB<<2[29:0]
addSignal -h 15 -UNSIGNED -HEX /Final_tb/chip0/i_MIPS/bcomp1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bcomp2[31:0]
addGroup "G5"
addSignal -h 15 -UNSIGNED -HEX /Final_tb/chip0/i_MIPS/readreg2_2_r[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope readreg_forward[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope readreg2_r[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope readreg1_r[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope Readdata1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope Readdata2[31:0]
addSignal -h 15 -UNSIGNED -HEX /Final_tb/chip0/i_MIPS/zregister/ReadReg1[400]
addSignal -h 15 -UNSIGNED -HEX -holdScope ReadReg2[400]
addSignal -h 15 -holdScope RegWrite
addSignal -h 15 -UNSIGNED -HEX /Final_tb/chip0/i_MIPS/inst_r[31:0]
addSignal -h 15 -holdScope IF_Flush2
addSignal -h 15 -holdScope IF_Flush
addSignal -h 15 -holdScope take
addSignal -h 15 -holdScope take_r
addSignal -h 15 -holdScope taken
addSignal -h 15 /Final_tb/chip0/i_MIPS/zbranchprd/take
addSignal -h 15 -holdScope taken
addSignal -h 15 -UNSIGNED -HEX -holdScope state_r[100]
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/raid7_2/userb03/b03085/ca/CAFinal2017/src/Final.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/Final_tb"
"/Final_tb/chip0"
"/Final_tb/chip0/D_cache"
"/Final_tb/chip0/i_MIPS"
"/Final_tb/chip0/i_MIPS/zalu"
"/Final_tb/chip0/i_MIPS/zctrl"
"/Final_tb/chip0/i_MIPS/zforwardjump"
"/Final_tb/chip0/i_MIPS/zregister"
"/Final_tb/testbed"

SCOPE_LIST_BEGIN
"/Final_tb"
"/Final_tb/chip0/i_MIPS/zforwardjump"
"/Final_tb/chip0/i_MIPS/zforwarding"
"/Final_tb/chip0/i_MIPS"
"/Final_tb/chip0/i_MIPS/zaluCtrl"
"/Final_tb/chip0/i_MIPS/zctrl"
"/Final_tb/chip0"
"/Final_tb/chip0/i_MIPS/zalu"
"/Final_tb/chip0/D_cache"
"/Final_tb/testbed"
"/Final_tb/chip0/i_MIPS/zifidreg"
"/Final_tb/chip0/i_MIPS/zregister"
"/Final_tb/chip0/i_MIPS/zidexreg"
"/Final_tb/chip0/i_MIPS/zbranchprd"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


